body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.btn-topo {
    margin-left: auto;
}

.navbar-nav {
    margin-left: 100px;
}

.navbar a{
    padding: 10px 40px;
}

#section-principal {
    width: 100%;
}

.container-principal {
    margin-top: 10vh;
    padding-left: 0;
}

.container-principal h1 {
    color: rgb(96, 19, 168);
    font-size: 4em;
}

.img-secao-principal {
    width: 100%;
    margin-left: auto;
    margin-right: 0;
}

.textos-secao-principal {
    margin-left: 100px;
}

.btn-discover {
    background: linear-gradient(45deg, #6e45e2, #11b4ff);
    color: white;
    padding: 10px 20px;
    width: 150px;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2;
    margin-top: 20px;
}

.btn-discover:hover {
    transform: translateY(-2px);
}

#section-started {
    width: 100%;
    margin-top: 10%;
    
}

.img-linha-started {
    justify-content: center;
    text-align: center;
}

.container-started h2 {
    color: rgb(96, 19, 168);
}

.texto-h2-started {
    margin: 50px 0 100px 0;
    font-size: 2.2em;
}

.linha-started {
    margin-right: 3%;
}

.informacoes-started {
    justify-content: center;
    text-align: center;
}

.informacoes-started h4 {
    color: rgb(96, 19, 168);
    margin-bottom: 50px;
}

.informacoes-started p {
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

#section-driveon {
    width: 100%;
    margin-top: 10%;
}

.img-linha-driveon {
    margin-left: 50%;
    margin-bottom: 80px;
}

.informacoes-driveon {
}

.img-secao-driveon {
    width: 70%;
    top: 0;
    left: 0;
}