body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* -- NAVBAR -- */
.btn-topo {
    position: relative;
    margin-left: 40%;
}

.btn-login a{
    color: rgb(96, 19, 168);
    text-decoration: none;
}

.btn-login img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-topo button {
    padding-right: 50px;
}

.btn-topo .btn-sign-up {
    border: 1px solid grey;
    text-align: center;
    justify-content: center;
    padding: 10px 30px;
}

.navbar-nav {
    margin-left: 100px;
}

.navbar a{
    position: relative;
    padding: 10px 40px;
}

.nav-item a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: rgb(96, 19, 168);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-item a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
/* -- SEÇÃO PRINCIPAL -- */
#section-principal {
    width: 100%;
}

.container-principal {
    margin-top: 10vh;
    padding-left: 0;
}

.container-principal h1 {
    color: rgb(96, 19, 168);
    font-size: 4em;
}

.img-secao-principal {
    width: 100%;
    margin-left: auto;
    margin-right: 0;
}

.textos-secao-principal {
    margin-left: 100px;
    font-size: 1.2em;
}

.btn-discover {
    background: linear-gradient(45deg, #6e45e2, #11b4ff);
    color: white;
    padding: 10px 20px;
    width: 150px;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2;
    margin-top: 20px;
}

.btn-discover:hover {
    transform: translateY(-2px);
}

/* -- SEÇÃO STARTED -- */
#section-started {
    width: 100%;
    margin-top: 10%;
    
}

.img-linha-started {
    justify-content: center;
    text-align: center;
}

.container-started h2 {
    color: rgb(96, 19, 168);
}

.texto-h2-started {
    margin: 50px 0 100px 0;
    font-size: 2.2em;
}

.linha-started {
    margin-right: 3%;
}

.informacoes-started {
    justify-content: center;
    text-align: center;
}

.informacoes-started h4 {
    color: rgb(96, 19, 168);
    margin-bottom: 50px;
}

.informacoes-started p {
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

/* -- SEÇÃO DRIVEON -- */
#section-driveon {
    width: 100%;
    margin-top: 10%;
}

.linha-driveon {
    margin-bottom: 100px;
}

.img-secao-driveon {
    width: 80%;
    margin-right: auto;
    margin-left: 0;
    position: relative;
    top: -40px;
}

.container-driveon .informacoes-driveon p {
    width: 70%;
    margin-bottom: 50px;
    font-size: 1.2em;
}

.container-driveon .informacoes-driveon a {
    color: #1135ff;
    font-size: 1.3em;
    text-decoration: none;
}

/* -- SEÇÃO SAFETY -- */
#section-safety {
    width: 100%;
    margin-top: 10%;
}

.linha-safety {
    margin-left: 20%;
    margin-top: 10%;
}

.informacoes-safety {
    width: 70%;
    margin-left: 20%;
}

.informacoes-safety h4 {
    color: rgb(96, 19, 168);
    margin-bottom: 50px;
    margin-top: 5%;
    font-size: 2.5em;
}

.informacoes-safety p {
    justify-content: center;
    text-align: start;
    width: 70%; 
    font-size: 1.2em;
}


.img-secao-safety {
    width: 80%;
    position: relative;
    top: -450px;
}

.container-safety .informacoes-safety a {
    color: #1135ff;
    font-size: 1.2em;
    text-decoration: none;
}
/* -- SEÇÃO APPLICATION / DOWNLOAD -- */
#application {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../images/img-fundo-4-teste-programador.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-bottom: 20%;
}

.content {
    margin-left: 30%;
    padding: 20px;
    border-radius: 10px;
}

.content a{
    color: white;
    text-decoration: none;
}

.content h2 {
    justify-content: start;
    text-align: start;
    color: rgb(96, 19, 168);
}

.content .buttons {
    display: flex;
    justify-content: start;
    text-align: start;
    margin-top: 10%;
}

.content .buttons .btn-clay {
    background-color: black;
}

.content .buttons .btn-play {
    margin-left: 10%;
    background-color: black;
}

#section-download {
    width: 100%;
}

.register h2 {
    color: rgb(96, 19, 168);
    text-align: start;
    margin-left: 20%;
}

.img-setas {
    margin-left: 50%;
    position: relative;
    bottom: 90px;
    left: 90px;
}

.img-linha-reta {
    position: relative;
    right: 39%;
}

.register {
    position: relative;
    bottom: 200px;
}

/* -- FOOTER -- */
footer {
    background-image: url(../images/fundo-footer-teste-programador.png.jpg);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    padding: 40px 0;
    text-align: center;
}

footer h2, h3 {
    position: relative;
    top: 80px;
    font-weight: 700;
}

footer ul {
    position: relative;
    top: 80px;
    list-style: none;
    text-align: start;
    padding: 10px;
    
}
footer ul li{
    list-style: none;
    text-align: start;
    padding-bottom: 15px;
}
footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: rgb(182, 182, 182);
}

.text-start {
    text-align: start;
}

.links-footer {
    margin-bottom: 10%;
}

.linha-footer{
    border-top: 1px solid white;
}

.linha-footer p {
    margin-top: 20px;
    align-items: start;
    text-align: start;
}

.links-redes-sociais{
    align-items: end;
    text-align: end;
    padding-top: 20px;
}

.links-redes-sociais a{
    padding-left: 30px;
}

/* MEDIA QUERIES */

@media (max-width: 992px) {
    .btn-topo {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .navbar-nav {
        margin-left: 0;
        text-align: center;
    }

    .textos-secao-principal {

        text-align: center;
    }

    .btn-discover {
        display: block;
        margin: 20px auto;
    }

    .informacoes-started p,
    .container-driveon .informacoes-driveon p,
    .informacoes-safety {
        width: 100%;
        text-align: center;
    }

    .img-secao-principal,
    .img-secao-driveon,
    .img-secao-safety {
        display: none;
    }

    #application{
        visibility: hidden;
        height: 0;
        overflow: hidden;
        display: none;
    }

    .navbar .container-fluid .navbar-collapse ul {
        width: 100%;
        display: grid;
        text-align: start;
        justify-content: end;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
    }

    .nav-item a::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: rgb(96, 19, 168);
        bottom: 0;
        left: 0;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }
    
    .nav-item a:hover::before {
        transform-origin: right;
        transform: scaleX(1);
    }

    .navbar .container-fluid button {
        display: grid;
        text-align: end;
        justify-content: end;
    }

    .navbar .container-fluid .navbar-collapse .btn-topo {
        display: grid;
        text-align: start;
        justify-content: end;
        word-wrap: break-word;
    }

    #section-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;
    }

    #section-principal .container-principal .textos-secao-principal,
     #section-started .container-started .informacoes-started p,
      #section-driveon .container-driveon .row .col
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;
        margin: 0;
    }

    #section-safety .container-safety .safety,
     #section-safety .container-safety .safety .linha-safety,
     #section-safety .container-safety .safety .informacoes-safety
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin: 0;
    }

    #section-safety .container-safety .safety .informacoes-safety p {
        display: inline;
        align-items: center;
        justify-content: center;

    }

    #section-download .container-download {
        display: none;

    }

    footer {
        margin-top: 100px;
    }

    footer .container .links-footer{
        display: flex;
        align-items: start;
        justify-content: start;
        padding: 20px;
    }

    footer .container .linha-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .container-principal h1 {
        font-size: 3em;
    }

    .btn-topo {
        flex-direction: column;
    }

    .img-secao-principal {
        width: 100%;
        margin-top: 20px;
    }

    .informacoes-started,
    .informacoes-driveon,
    .informacoes-safety {
        text-align: center;
    }

    .row {
        flex-direction: column;
    }

}

@media (max-width: 576px) {
    .container-principal h1 {
        font-size: 2.5em;
    }

    .navbar-toggler {
        margin-right: 10px;
    }

    .textos-secao-principal {
        font-size: 1em;
    }

    .btn-discover {
        font-size: 1em;
        padding: 8px 16px;
    }

    .img-secao-principal,
    .img-secao-driveon,
    .img-secao-safety {
        width: 100%;
    }

}